<!-- 
<div class="container">
    <div style="padding-top: 75px;">
        <router-outlet></router-outlet>
    </div>
</div> -->
<!-- nav -->
<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->
<app-top-bar></app-top-bar>
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
                <alert></alert>
                <router-outlet></router-outlet>
        </div>
    </div>
</div>